.container {
	width: 50vw;
	height: 50vh;
    border: 3px solid black;
    box-sizing: border-box;
    display: flex;
}

.box-1{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

.box-2{
    width: 100px;
    height: 100px;
    background-color: red;
}